$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

// POWERMENU
.btns-box {
  font-size: 2.5em;
  font-family: Phosphor, Koulen;

  button {
    padding: 0.4em;
    border-radius: 0.1em;
    background-color: rgba($surface-darkgrey, 0.3);

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($surface-lightgrey, 0.6);
    }

    &:first-child {
      color: rgba($surface-red, 0.8);
    }
  }
}

.bigpowermenu {
  font-size: 3rem;
}

.powermenu-container {
  background-color: $bg-color;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: $text-color;
  font-family: "Inter", sans-serif; /* Using Inter font */
}


.quicksettings {
  font-size: 1.75rem;
}

// WIDGET MISC SETTINGS

.quote-text {
  padding: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: #BF616A;
}

.appbar{
  font-size: 2rem;
}

.calendar-container {
  background-color: #000000; /* Nord 0 */
  color: #d8dee9; /* Nord 4 */
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

calendar {
  background-color: #000000;
  width: 200px; /* Adjust as needed */
  height: auto;
}

calendar:heading {
  color: #88c0d0; /* Nord 10 */
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

calendar:day-names {
  color: #a3be8c; /* Nord 13 */
  margin-bottom: 3px;
}

calendar:day {
  color: #d8dee9; /* Nord 4 */
  padding: 2px 5px;
  text-align: center;
}

calendar:weekend {
  color: #ebcb8b; /* Nord 12 */
}

calendar:highlight {
  background-color: #5e81ac; /* Nord 8 */
  color: #f8f8f2;
  border-radius: 3px;
}

calendar:empty {
  color: #4c566a; /* Nord 3 */
}

.favs {
  color: #ECEFF4;
  font-size: 2rem;
}

.small-date {
  font-weight: 700;
}

// Search App CSS
.searchapps-bar {
  color: #88c0d0;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: #1E222A;
  border: 6px solid #80A0C0;
}
.search-bar {
  color: #88c0d0;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: #88c0d0;
}
.item {
  padding: 10px;
  background: rgba(10,10,10,0.4);
}

.label-control {
  color: #81a1c1;
  font-size: 1.5rem;
  padding: 15px;
}

.controls {
  font-size: 2rem;
  padding-bottom: 20px;
}
